<% if notice.present? %>  
  <div class="alert alert-success mt-5" role="alert" id="content">
    <p id="notice"><%= notice %></p>
  </div>  
<% end %>
<% if alert.present? %>  
  <div class="alert alert-success mt-5" role="alert" id="content">
    <p id="alert"><%= alert %></p>
  </div>
<% end %>