<div class="alert alert-success" role="alert" id="content">
  <% if notice.present? %>  
    A simple success alert with
  <% end %>
  <% if alert.present? %>  
     A simple success alert with
  <% end %>
</div>